.footer_div
{
    margin-bottom: 40px;
}
 
.footer_div
{
    background: blue;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px blue;
}
 
.footer_div
{
    width: 70px;
}
 
